#game {
  border: 1px solid #00b7c2;
  display: grid;
  width: 100%;
  box-sizing: border-box;
  max-width: 300px;
  margin: 10px auto;
  grid-template-columns: repeat(6, 1fr);
  border-collapse: collapse;

  .board-cell {
    border-collapse: collapse;
    border: 1px solid #00b7c2;
    padding-top: 100%;
    position: relative;

    input {
      all:unset;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      text-align: center;
      display: block;
      width: 100%;
      font-size: 1.3em;

      &[disabled] {
        font-weight: bold;
        background-color: rgba(255,255,255,0.05);
      }
    }

    &::before {
      content: attr(data-index);
      position: absolute;
      top: 0.3em;
      left: 0.3em;
      font-size: 0.6em;
    }
  }
}